# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.mvc crud.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Youcode\source\repos\mvc crud\.idea\.idea.mvc crud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
